:root{
    --accent-color: #FF031A;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000 ), url(../img/background\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    }
    
    header{
        height: 120px;
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
    }

    .links-container{
        height: 36px;
        display: flex;
        align-items: center;
        gap: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        list-style: none;
}
  
.links-container a {
    text-shadow: 2px 2px 2px #000;
    padding: 8px 6px;
    transition: all 1s;
}

.links-container a:hover{
    background-color: var(--accent-color);
}

.tittle{
    position: absolute;
    top: 13%;
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding-left: 40%;
}

main{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex: 4;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8%;
}

.content-image{
    width: 300px;
    height: 556px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover; 
    align-items: center;
    display: flex;
}

#wanda-image{
    background-image: url(../galeria.img/eles.png);
    backdrop-filter: grayscale(10%);
    background-position-x: 70%;
}

#strange-image{
    background-position-x: 60%;
    background-image: url(../galeria.img/todos.png);
}

#wong-image{
    background-image: url(../galeria.img/foto.png);
}

#doc-image{
    background-image: url(../galeria.img/img.png);
}

#glr-image{
    background-image: url(../galeria.img/poster.png);
}

